.header {
    /*grid-area: h;*/
    background-color: #4e4e96;
    /*height: 20%; если оставить в процентах - тогда на странице users после каждого раза открывая users будет делаться запрос на сервер
    и с каждым запросом - данных больше. Так как данных больше - растягивается страница. Растягивается страница -
    20% - cтановится больше чем было. Соответственно header становится большего размера. Лучше держать это значение в стабильных пикселях*/
    height: 100px;
    width: 1680px;
}

.headerLogo {
    width: 40%;
    height: 100%;
    margin-left: 10%;
    margin-top: 2%;
}

/*
.header {
grid-area: h;
 background-color: #4e4e96;
 height: 130px;
}
.headerImg {
width: 640px;
 height: 130px;
}
*/