.Music {
  grid-area: c;
     width: 1em;
     height: 1em;
font-size: 4em;
  text-decoration: none;
  display: grid;
}
a.active {
  background-color: darkseagreen;
  color: midnightblue;
  text-decoration: none;
}