.sidebar {
    grid-area: n;
    /* background-color: #2089b3;*/
    height: 30%;
    /*margin-top: 20px;
    padding-top: 20px;*/
}

.Dialogs {
    /*grid-area: c;*/
    width: 1em;
    height: 1em;
    font-size: 4em;
    text-decoration: none;
    display: grid;
}

.Users {
    /*grid-area: c;*/
    width: 1em;
    height: 1em;
    font-size: 4em;
    text-decoration: none;
    display: grid;
}

.Profile {
    font-size: 4em;
    text-decoration: none;
}